<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Message</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
  </head>
  <body>
    <div class="container">
      <% if(locals.user && user.isadmin) {%>
      <form class="form" method="POST" action="/delete/<%= id %>">
        <label class="form__label" for="password"
          >Enter Password to delete the message :</label
        >
        <input
          class="form__input"
          type="password"
          id="password"
          name="password"
        />
        <input type="hidden" id="id" name="id" value="<%= id %>" />
        <% if (errorMsg) { %>
        <p class="error"><%= errorMsg %></p>
        <% } %>
        <button class="btn btn-submit" type="submit">Delete the item</button>
      </form>
      <% } %>
    </div>
  </body>
</html>
