<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
  </head>
  <body>
    <div class="main__container">
      <h1 class="instruction">Please Log in</h1>
      <form class=".form" action="/login" method="POST">
        <div class="form__container">
          <label class="form__label" for="username">Username :</label>
          <input
            class="form__input"
            id="username"
            name="username"
            placeholder="username"
            type="text"
          />

          <label class="form__label" for="password">Password :</label>
          <input
            class="form__input"
            id="password"
            name="password"
            type="password"
            placeholder="password"
          />
          <% if (errorMsg) { %>
          <p class="error"><%= errorMsg %></p>
          <% } %>
          <button type="submit" class="btn btn-submit">Log In</button>
        </div>
      </form>
    </div>
  </body>
</html>
